# Dependencies
node_modules/

# Bun
bun.lockb

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Env
.env
.env.*
!.env.example

# Editor / OS
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
